streamlit
requests
beautifulsoup4
spacy
python-docx
language-tool-python
pyspellchecker
wordfreq
symspellpy
google-cloud-aiplatform
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
